body {
    background: #F7F8FA;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.calculator {
    width: 300px;
    background: #FFFFFF;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

#display {
    width: 100%;
    height: 60px;
    font-size: 28px;
    text-align: right;
    padding: 5px;
    border: none;
    background: #EDEFF3;
    color: #1F2937;
    border-radius: 10px;
    margin-bottom: 15px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 20px;
    font-size: 22px;
    border: none;
    background: #E0E7FF;
    color: rgb(14, 13, 13);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: #DDD6FE;
}

.zero {
    grid-column: span 2;
}
